body {
    background-color: #B2180C;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
body.active {
    background-color: #24FF7E;
}
.pre {
    font-family: monospace;
    white-space: pre;
}
.bold {
    font-weight: bold;
}
